# Reject folders
**/autosave
**/tmp
**/incrementalSave
**/.mayaSwatches
**/published
**/images


# Reject file types
*.swatches
*.mayaSwatches
*.tx
*workspace.mel

# Reject mac files
*.DS_Store